In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('Nov10_csv.csv')

In [9]:
df["Month"]=11
df['Year']=2010

In [10]:
df

,Month,County,Democratic,Republican,Libertarian,Other Parties,All Parties,Year
0,11,Adams,"20,199","31,566",344,"8,088","60,197",2010
1,11,Allegheny,"560,367","243,489","3,592","99,486","906,934",2010
2,11,Armstrong,"18,760","19,963",219,"3,789","42,731",2010
3,11,Beaver,"68,359","36,311",389,"11,175","116,234",2010
4,11,Bedford,"11,306","19,792",101,"2,812","34,011",2010
5,11,Berks,"123,093","93,920","1,642","33,593","252,248",2010
6,11,Blair,"29,286","45,700",359,"9,045","84,390",2010
7,11,Bradford,"12,397","23,172",186,"4,450","40,205",2010
8,11,Bucks,"191,778","178,057","2,886","61,465","434,186",2010
9,11,Butler,"44,403","59,585",583,"13,627","118,198",2010
10,11,Cambria,"55,442","28,021",299,"7,212","90,974",2010
11,11,Cameron,"1,537","1,787",13,342,"3,679",2010
12,11,Carbon,"19,392","14,191",201,"4,682","38,466",2010
13,11,Centre,"44,148","39,190",512,"17,864","101,714",2010
14,11,Chester,"127,661","150,316","1,862","52,192","332,031",2010
15,11,Clarion,"9,859","12,228",102,"2,265","24,454",2010
16,11,Clearfield,"22,901","22,720",206,"4,866","50,693",2010
17,11,Clinton,"10,286","9,296",85,"2,404","22,071",2010
18,11,Columbia,"18,619","17,556",201,"6,171","42,547",2010
19,11,Crawford,"24,950","28,828",230,"6,148","60,156",2010
20,11,Cumberland,"51,786","77,253",899,"20,595","150,533",2010
21,11,Dauphin,"85,824","79,551",952,"23,193","189,520",2010
22,11,Delaware,"169,862","180,965","1,348","41,597","393,772",2010
23,11,Elk,"10,830","7,116",53,"1,913","19,912",2010
24,11,Erie,"101,610","63,491",775,"20,389","186,265",2010
25,11,Fayette,"61,591","22,332",321,"6,654","90,898",2010
26,11,Forest,"1,457","1,547",4,211,"3,219",2010
27,11,Franklin,"26,303","48,623",432,"10,766","86,124",2010
28,11,Fulton,"3,454","5,561",45,857,"9,917",2010
29,11,Greene,"16,596","6,829",73,"1,805","25,303",2010
...,...,...,...,...,...,...,...,...
37,11,Lebanon,"28,051","44,705",507,"10,575","83,838",2010
38,11,Lehigh,"110,309","75,457","1,190","32,816","219,772",2010
39,11,Luzerne,"110,165","61,287",706,"15,933","188,091",2010
40,11,Lycoming,"26,058","36,168",293,"8,165","70,684",2010
41,11,County,Democratic,Republican,Libertarian,Other\rParties,All\rParties,2010
42,11,Mercer,"39,275","32,194",356,"9,051","80,876",2010
43,11,Mifflin,"8,990","14,260",102,"2,356","25,708",2010
44,11,Monroe,"49,515","33,706",569,"18,402","102,192",2010
45,11,Montgomery,"264,038","231,299","3,227","84,665","583,229",2010
46,11,Montour,"5,129","6,042",54,"1,776","13,001",2010
47,11,Northampton,"98,814","66,886","1,119","32,217","199,036",2010
48,11,Northumberland,"23,756","25,003",218,"5,335","54,312",2010
49,11,Perry,"7,808","16,986",144,"3,014","27,952",2010
50,11,Philadelphia,"832,116","135,640","2,771","94,044","1,064,571",2010
51,11,Pike,"17,550","20,495",257,"9,031","47,333",2010
52,11,Potter,"3,357","6,611",50,865,"10,883",2010
53,11,Schuylkill,"37,980","41,843",376,"8,200","88,399",2010
54,11,Snyder,"5,701","13,287",95,"2,260","21,343",2010
55,11,Somerset,"21,619","25,252",175,"3,889","50,935",2010
56,11,Sullivan,"1,743","2,423",23,380,"4,569",2010
57,11,Susquehanna,"8,804","13,753",111,"2,770","25,438",2010
58,11,Tioga,"7,851","15,141",132,"2,905","26,029",2010
59,11,Union,"7,244","12,001",105,"3,033","22,383",2010
60,11,Venango,"12,949","17,306",180,"3,602","34,037",2010
61,11,Warren,"11,404","13,652",124,"3,525","28,705",2010
62,11,Washington,"87,736","50,583",545,"14,811","153,675",2010
63,11,Wayne,"10,697","16,932",145,"4,385","32,159",2010
64,11,Westmoreland,"128,230","86,465",929,"23,034","238,658",2010
65,11,Wyoming,"5,960","9,026",46,"1,560","16,592",2010
66,11,York,"100,336","129,146","1,685","36,941","268,108",2010

In [74]:
df2 = pd.read_csv('Nov11_csv.csv')

In [75]:
df2["Month"]=11
df2['Year']=2011
df2 = df2.rename(columns={'Democrat':'Democratic'})

In [76]:
df2

,County,Republican,Democratic,Other Parties,All Parties,Month,Year
0,Adams,"31,144","19,513","8,212","58,869",11,2011
1,Allegheny,"239,474","543,647","102,365","885,486",11,2011
2,Armstrong,"19,700","17,946","3,883","41,529",11,2011
3,Beaver,"35,467","65,695","11,369","112,531",11,2011
4,Bedford,"18,895","10,213","2,589","31,697",11,2011
5,Berks,"90,034","117,581","33,228","240,843",11,2011
6,Blair,"45,285","28,841","9,569","83,695",11,2011
7,Bradford,"23,218","12,265","4,774","40,257",11,2011
8,Bucks,"172,581","185,529","62,673","420,783",11,2011
9,Butler,"59,866","43,613","14,507","117,986",11,2011
10,Cambria,"26,762","51,409","7,119","85,290",11,2011
11,Cameron,"1,790","1,541",369,"3,700",11,2011
12,Carbon,"14,004","18,778","4,808","37,590",11,2011
13,Centre,"39,303","43,572","18,451","101,326",11,2011
14,Chester,"144,688","123,357","52,559","320,604",11,2011
15,Clarion,"12,025","9,382","2,325","23,732",11,2011
16,Clearfield,"23,057","22,631","5,209","50,897",11,2011
17,Clinton,"9,480","10,262","2,582","22,324",11,2011
18,Columbia,"17,122","17,605","6,299","41,026",11,2011
19,Crawford,"26,040","21,961","5,546","53,547",11,2011
20,Cumberland,"78,382","51,678","22,195","152,255",11,2011
21,Dauphin,"72,016","78,849","21,192","172,057",11,2011
22,Delaware,"173,301","164,884","41,784","379,969",11,2011
23,Elk,"7,326","10,774","2,006","20,106",11,2011
24,Erie,"58,460","94,018","19,216","171,694",11,2011
25,Fayette,"22,634","61,232","7,121","90,987",11,2011
26,Forest,"1,571","1,416",222,"3,209",11,2011
27,Franklin,"47,739","25,234","11,067","84,040",11,2011
28,Fulton,"5,626","3,399",911,"9,936",11,2011
29,Greene,"6,224","14,464","1,634","22,322",11,2011
...,...,...,...,...,...,...,...
37,Lebanon,"42,678","26,037","10,194","78,909",11,2011
38,Lehigh,"73,857","107,594","33,430","214,881",11,2011
39,Luzerne,"61,809","109,478","17,304","188,591",11,2011
40,Lycoming,"34,329","23,732","7,830","65,891",11,2011
41,County,Republican,Democrat,Other\rParties,All\rParties,11,2011
42,Mercer,"29,458","35,471","8,255","73,184",11,2011
43,Mifflin,"13,486","8,093","2,192","23,771",11,2011
44,Monroe,"34,445","50,179","19,616","104,240",11,2011
45,Montgomery,"209,519","245,562","77,645","532,726",11,2011
46,Montour,"6,043","5,114","1,877","13,034",11,2011
47,Northampton,"67,986","99,217","34,389","201,592",11,2011
48,Northumberland,"25,123","23,528","5,788","54,439",11,2011
49,Perry,"16,302","7,380","2,953","26,635",11,2011
50,Philadelphia,"127,539","798,063","92,356","1,017,958",11,2011
51,Pike,"17,291","14,944","7,910","40,145",11,2011
52,Potter,"6,555","3,252",896,"10,703",11,2011
53,Schuylkill,"40,028","36,354","8,250","84,632",11,2011
54,Snyder,"12,968","5,502","2,245","20,715",11,2011
55,Somerset,"25,444","21,445","4,190","51,079",11,2011
56,Sullivan,"2,219","1,599",350,"4,168",11,2011
57,Susquehanna,"13,804","8,764","2,971","25,539",11,2011
58,Tioga,"14,770","7,490","3,038","25,298",11,2011
59,Union,"11,890","7,092","3,166","22,148",11,2011
60,Venango,"16,552","12,136","3,517","32,205",11,2011
61,Warren,"13,833","11,273","3,757","28,863",11,2011
62,Washington,"46,873","78,350","13,772","138,995",11,2011
63,Wayne,"16,751","10,458","4,618","31,827",11,2011
64,Westmoreland,"85,544","123,482","23,491","232,517",11,2011
65,Wyoming,"9,208","5,975","1,713","16,896",11,2011
66,York,"130,090","99,492","39,516","269,098",11,2011

In [89]:
df3 = pd.read_csv('Nov12_csv.csv')
df3["Month"]=11
df3['Year']=2012

Index([u'COUNTY', u'REPUBLICAN', u'DEMOCRATIC', u'OTHER\rPARTIES',
       u'ALL\rPARTIES', u'Month', u'Year'],
      dtype='object')

In [90]:
df3 = df3.rename(columns={'COUNTY': 'County', 'REPUBLICAN': 'Republican', 'DEMOCRATIC':'Democratic','OTHER\rPARTIES':'Other\rParties','ALL\rPARTIES':'All\rParties'})

In [92]:
df3.columns

Index([u'County', u'Republican', u'Democratic', u'Other\rParties',
       u'All\rParties', u'Month', u'Year'],
      dtype='object')

In [51]:
df4 = pd.read_csv('Nov13_csv.csv')

In [52]:
df4.drop("Unnamed: 0",axis=1,inplace=True)

In [53]:
df4["Month"]=11
df4['Year']=2013

In [54]:
df4

,County,Republican,Democratic,Libertarian,Other Parties,All Parties,Month,Year
0,Adams,"31,681","19,219",442,"8,651","59,993",11,2013
1,Allegheny,"237,337","527,074","4,589","107,943","876,943",11,2013
2,Armstrong,"19,906","16,909",253,"3,925","40,993",11,2013
3,Beaver,"35,623","61,819",509,"11,505","109,456",11,2013
4,Bedford,"19,524","9,962",120,"2,781","32,387",11,2013
5,Berks,"91,744","119,778","1,756","34,175","247,453",11,2013
6,Blair,"45,712","28,030",444,"9,857","84,043",11,2013
7,Bradford,"22,686","11,795",230,"4,857","39,568",11,2013
8,Bucks,"174,567","186,152","2,984","65,251","428,954",11,2013
9,Butler,"61,775","42,570",746,"15,378","120,469",11,2013
10,Cambria,"27,235","48,874",337,"7,547","83,993",11,2013
11,Cameron,"1,730","1,456",12,397,"3,595",11,2013
12,Carbon,"14,511","18,631",238,"5,128","38,508",11,2013
13,Centre,"41,606","43,964",616,"21,228","107,414",11,2013
14,Chester,"147,628","125,512","2,094","56,659","331,893",11,2013
15,Clarion,"11,870","8,611",109,"2,251","22,841",11,2013
16,Clearfield,"23,479","21,962",256,"5,438","51,135",11,2013
17,Clinton,"9,604","9,935",128,"2,837","22,504",11,2013
18,Columbia,"16,427","16,497",261,"5,866","39,051",11,2013
19,Crawford,"25,657","20,777",275,"5,659","52,368",11,2013
20,Cumberland,"76,531","49,260","1,059","21,472","148,322",11,2013
21,Dauphin,"71,957","80,007",971,"21,755","174,690",11,2013
22,Delaware,"169,644","170,432","1,515","44,149","385,740",11,2013
23,Elk,"7,320","10,188",77,"1,980","19,565",11,2013
24,Erie,"60,050","95,678",911,"21,097","177,736",11,2013
25,Fayette,"22,045","52,222",329,"6,048","80,644",11,2013
26,Forest,"1,643","1,390",10,261,"3,304",11,2013
27,Franklin,"49,539","25,390",561,"11,937","87,427",11,2013
28,Fulton,"5,244","2,843",60,842,"8,989",11,2013
29,Greene,"6,448","13,733",77,"1,789","22,047",11,2013
...,...,...,...,...,...,...,...,...
37,Lebanon,"43,093","25,920",521,"10,492","80,026",11,2013
38,Lehigh,"73,866","108,364","1,382","34,380","217,992",11,2013
39,Luzerne,"63,785","111,065",963,"19,178","194,991",11,2013
40,Lycoming,"34,384","22,738",329,"8,139","65,590",11,2013
41,McKean,"13,379","7,602",152,"2,905","24,038",11,2013
42,Mercer,"29,107","34,342",380,"8,397","72,226",11,2013
43,Mifflin,"13,983","7,804",114,"2,317","24,218",11,2013
44,Monroe,"32,516","48,984",632,"19,158","101,290",11,2013
45,Montgomery,"208,080","250,182","3,246","80,215","541,723",11,2013
46,Montour,"5,573","4,546",80,"1,745","11,944",11,2013
47,Northampton,"66,779","96,377","1,324","34,402","198,882",11,2013
48,Northumberland,"24,890","22,244",290,"6,048","53,472",11,2013
49,Perry,"16,502","7,238",162,"2,994","26,896",11,2013
50,Philadelphia,"119,645","803,777","3,101","102,412","1,028,935",11,2013
51,Pike,"17,265","14,864",280,"8,162","40,571",11,2013
52,Potter,"6,588","3,090",68,951,"10,697",11,2013
53,Schuylkill,"39,829","35,727",455,"8,631","84,642",11,2013
54,Snyder,"13,081","5,467",130,"2,468","21,146",11,2013
55,Somerset,"24,972","19,726",188,"4,148","49,034",11,2013
56,Sullivan,"2,249","1,599",20,364,"4,232",11,2013
57,Susquehanna,"13,787","8,392",143,"3,018","25,340",11,2013
58,Tioga,"14,801","7,272",155,"3,165","25,393",11,2013
59,Union,"11,985","7,132",122,"3,842","23,081",11,2013
60,Venango,"16,454","11,483",224,"3,449","31,610",11,2013
61,Warren,"13,960","10,962",141,"4,027","29,090",11,2013
62,Washington,"48,916","75,344",687,"14,630","139,577",11,2013
63,Wayne,"16,618","10,214",185,"4,860","31,877",11,2013
64,Westmoreland,"91,036","120,864","1,165","25,317","238,382",11,2013
65,Wyoming,"9,170","5,866",84,"1,843","16,963",11,2013
66,York,"130,769","96,453","2,034","39,012","268,268",11,2013

In [55]:
df5 = pd.read_csv('Nov14_csv.csv')

In [56]:
df5.drop("Unnamed: 0",axis=1,inplace=True)
df5["Month"]=11
df5['Year']=2014

In [57]:
df5

,County,Republican,Democratic,Libertarian,Other Parties,All Parties,Month,Year
0,Adams,"32,095","19,339",478,"9,239","61,151",11,2014
1,Allegheny,"238,048","526,437","4,986","112,103","881,574",11,2014
2,Armstrong,"19,988","16,788",275,"4,085","41,136",11,2014
3,Beaver,"35,869","61,219",583,"12,071","109,742",11,2014
4,Bedford,"19,512","9,827",133,"2,855","32,327",11,2014
5,Berks,"92,200","116,793","1,876","35,564","246,433",11,2014
6,Blair,"45,566","27,872",473,"10,156","84,067",11,2014
7,Bradford,"22,636","11,711",258,"5,006","39,611",11,2014
8,Bucks,"174,666","186,865","3,158","67,678","432,367",11,2014
9,Butler,"62,572","42,578",819,"16,152","122,121",11,2014
10,Cambria,"27,475","48,417",370,"7,917","84,179",11,2014
11,Cameron,"1,523","1,244",12,340,"3,119",11,2014
12,Carbon,"14,629","18,425",262,"5,422","38,738",11,2014
13,Centre,"41,756","43,987",685,"21,785","108,213",11,2014
14,Chester,"148,355","126,551","2,251","58,424","335,581",11,2014
15,Clarion,"11,856","8,420",115,"2,368","22,759",11,2014
16,Clearfield,"23,499","21,565",272,"5,512","50,848",11,2014
17,Clinton,"8,685","8,987",125,"2,584","20,381",11,2014
18,Columbia,"15,981","15,722",281,"5,607","37,591",11,2014
19,Crawford,"25,470","20,328",297,"5,832","51,927",11,2014
20,Cumberland,"77,153","50,157","1,160","22,581","151,051",11,2014
21,Dauphin,"71,939","80,614","1,071","22,734","176,358",11,2014
22,Delaware,"168,744","172,601","1,628","45,990","388,963",11,2014
23,Elk,"7,366","10,045",85,"2,050","19,546",11,2014
24,Erie,"60,198","95,107",994,"21,861","178,160",11,2014
25,Fayette,"22,232","51,681",374,"6,431","80,718",11,2014
26,Forest,"1,636","1,352",12,284,"3,284",11,2014
27,Franklin,"50,003","25,245",602,"12,441","88,291",11,2014
28,Fulton,"5,313","2,773",58,892,"9,036",11,2014
29,Greene,"6,522","13,553",78,"1,879","22,032",11,2014
...,...,...,...,...,...,...,...,...
37,Lebanon,"43,166","26,013",577,"10,961","80,717",11,2014
38,Lehigh,"74,105","108,478","1,518","35,797","219,898",11,2014
39,Luzerne,"63,919","110,969","1,033","20,208","196,129",11,2014
40,Lycoming,"34,421","22,607",369,"8,454","65,851",11,2014
41,McKean,"13,371","7,583",164,"3,016","24,134",11,2014
42,Mercer,"29,438","34,017",409,"8,855","72,719",11,2014
43,Mifflin,"13,971","7,717",122,"2,455","24,265",11,2014
44,Monroe,"31,820","47,527",649,"18,908","98,904",11,2014
45,Montgomery,"206,975","252,523","3,452","82,655","545,605",11,2014
46,Montour,"5,570","4,574",86,"1,865","12,095",11,2014
47,Northampton,"65,281","94,120","1,418","34,671","195,490",11,2014
48,Northumberland,"24,802","22,076",313,"6,282","53,473",11,2014
49,Perry,"16,527","7,189",189,"3,100","27,005",11,2014
50,Philadelphia,"119,267","806,784","3,336","107,556","1,036,943",11,2014
51,Pike,"17,057","14,762",309,"8,444","40,572",11,2014
52,Potter,"6,516","3,016",75,"1,010","10,617",11,2014
53,Schuylkill,"39,583","35,281",480,"9,000","84,344",11,2014
54,Snyder,"13,036","5,460",144,"2,580","21,220",11,2014
55,Somerset,"24,307","18,746",201,"4,203","47,457",11,2014
56,Sullivan,"2,229","1,564",22,398,"4,213",11,2014
57,Susquehanna,"13,733","8,339",150,"3,091","25,313",11,2014
58,Tioga,"14,801","7,184",173,"3,232","25,390",11,2014
59,Union,"11,744","6,711",119,"3,617","22,191",11,2014
60,Venango,"16,281","11,332",236,"3,612","31,461",11,2014
61,Warren,"13,870","10,824",147,"4,190","29,031",11,2014
62,Washington,"49,283","74,592",747,"15,220","139,842",11,2014
63,Wayne,"16,588","10,219",202,"5,081","32,090",11,2014
64,Westmoreland,"91,555","119,455","1,267","26,283","238,560",11,2014
65,Wyoming,"9,130","5,829",90,"1,883","16,932",11,2014
66,York,"131,319","98,179","2,226","40,503","272,227",11,2014

In [58]:
df6 = pd.read_csv('Nov15_csv.csv')

In [59]:
df6.drop("Unnamed: 0",axis=1,inplace=True)
df6["Month"]=11
df6['Year']=2015

In [60]:
df6

,County,Democratic,Republican,Other Parties,All Parties,Month,Year
0,Adams,"19,000","32,187","9,763","60,950",11,2015
1,Allegheny,"507,479","232,134","114,034","853,647",11,2015
2,Armstrong,"15,988","19,641","4,353","39,982",11,2015
3,Beaver,"58,808","35,516","12,510","106,834",11,2015
4,Bedford,"9,685","19,750","3,085","32,520",11,2015
5,Berks,"113,322","90,786","36,658","240,766",11,2015
6,Blair,"23,708","40,455","8,888","73,051",11,2015
7,Bradford,"10,299","20,535","4,478","35,312",11,2015
8,Bucks,"185,019","172,731","70,921","428,671",11,2015
9,Butler,"40,729","62,337","16,626","119,692",11,2015
10,Cambria,"46,258","27,266","8,194","81,718",11,2015
11,Cameron,"1,220","1,569",347,"3,136",11,2015
12,Carbon,"18,315","15,027","5,846","39,188",11,2015
13,Centre,"43,719","41,454","22,092","107,265",11,2015
14,Chester,"122,365","144,075","58,718","325,158",11,2015
15,Clarion,"8,102","11,802","2,482","22,386",11,2015
16,Clearfield,"21,286","23,787","5,931","51,004",11,2015
17,Clinton,"8,929","8,806","2,758","20,493",11,2015
18,Columbia,"15,251","15,859","5,888","36,998",11,2015
19,Crawford,"19,267","25,247","5,986","50,500",11,2015
20,Cumberland,"50,788","78,018","24,675","153,481",11,2015
21,Dauphin,"80,023","70,894","24,074","174,991",11,2015
22,Delaware,"171,239","164,817","47,567","383,623",11,2015
23,Elk,"9,755","7,343","2,125","19,223",11,2015
24,Erie,"94,540","60,810","23,621","178,971",11,2015
25,Fayette,"49,585","22,778","6,733","79,096",11,2015
26,Forest,"1,338","1,641",302,"3,281",11,2015
27,Franklin,"23,880","48,936","12,623","85,439",11,2015
28,Fulton,"2,772","5,373",977,"9,122",11,2015
29,Greene,"12,876","6,532","1,850","21,258",11,2015
...,...,...,...,...,...,...,...
37,Lebanon,"25,628","42,993","11,562","80,183",11,2015
38,Lehigh,"106,313","72,928","37,198","216,439",11,2015
39,Luzerne,"107,018","62,363","21,278","190,659",11,2015
40,Lycoming,"21,752","34,256","8,756","64,764",11,2015
41,McKean,"7,413","13,635","3,285","24,333",11,2015
42,Mercer,"33,821","29,852","9,587","73,260",11,2015
43,Mifflin,"7,485","14,181","2,570","24,236",11,2015
44,Monroe,"47,707","31,953","19,960","99,620",11,2015
45,Montgomery,"249,188","202,105","84,768","536,061",11,2015
46,Montour,"4,589","5,702","2,010","12,301",11,2015
47,Northampton,"92,453","64,842","35,987","193,282",11,2015
48,Northumberland,"21,807","24,761","6,755","53,323",11,2015
49,Perry,"7,007","16,410","3,342","26,759",11,2015
50,Philadelphia,"781,243","111,628","107,669","1,000,540",11,2015
51,Pike,"12,715","15,631","7,779","36,125",11,2015
52,Potter,"2,891","6,498","1,076","10,465",11,2015
53,Schuylkill,"34,098","39,002","9,537","82,637",11,2015
54,Snyder,"5,272","12,718","2,671","20,661",11,2015
55,Somerset,"18,358","24,581","4,530","47,469",11,2015
56,Sullivan,"1,528","2,235",436,"4,199",11,2015
57,Susquehanna,"8,023","13,636","3,195","24,854",11,2015
58,Tioga,"6,978","14,667","3,335","24,980",11,2015
59,Union,"6,627","11,600","3,679","21,906",11,2015
60,Venango,"11,007","15,952","3,863","30,822",11,2015
61,Warren,"10,667","13,989","4,439","29,095",11,2015
62,Washington,"67,190","47,276","14,273","128,739",11,2015
63,Wayne,"9,832","16,259","5,246","31,337",11,2015
64,Westmoreland,"118,068","92,785","28,312","239,165",11,2015
65,Wyoming,"5,457","8,796","1,927","16,180",11,2015
66,York,"96,370","131,139","42,857","270,366",11,2015

In [80]:
df.columns

Index([u'Month', u'County', u'Democratic', u'Republican', u'Libertarian',
       u'Other\rParties', u'All\rParties', u'Year'],
      dtype='object')

In [81]:
df2.columns

Index([u'County', u'Republican', u'Democratic', u'Other\rParties',
       u'All\rParties', u'Month', u'Year'],
      dtype='object')

In [93]:
frames = [df, df2, df3, df4, df5, df6]

In [104]:
result = pd.concat(frames)

In [112]:
results = result[['County','Republican','Democratic','Libertarian','Other\rParties','All\rParties','Month','Year']]

In [116]:
# rename column names (unicode issues)
results2 = results.rename(columns={'Other\rParties':'Other Parties','All\rParties':'All Parties'})

In [118]:
results2.columns

Index([u'County', u'Republican', u'Democratic', u'Libertarian',
       u'Other Parties', u'All Parties', u'Month', u'Year'],
      dtype='object')

In [122]:
# fix 2 bad rows that came through on a second page of a pdf?
resultsFinal = results2[results2['County']!='County']

In [123]:
resultsFinal[resultsFinal['County']=='County']

Empty DataFrame
Columns: [County, Republican, Democratic, Libertarian, Other Parties, All Parties, Month, Year]
Index: []

In [125]:
resultsFinal.to_csv('PA_Historical_Registration.csv',index=False)