In [1]:
import numpy as np
import pandas as pd

In [50]:
df = pd.read_csv("2012_Election/al.csv")

In [51]:
# what are my column names
df.columns

Index([u'fips', u'county', u'candidate', u'votes'], dtype='object')

In [52]:
# pivot table so candidates are dimensions and fips/county are index
df = df.pivot_table(index=["fips","county"],columns='candidate',values='votes')

In [53]:
# flatten column headers to index row - "level 0" the data
df = pd.DataFrame(df.to_records())

In [54]:
# check new column names
df.columns

Index([u'fips', u'county', u'BARACK OBAMA / JOE BIDEN (D)',
       u'GARY JOHNSON / JIM GRAY (I)', u'JILL STEIN / CHERI HONKALA (I)',
       u'MITT ROMNEY /PAUL RYAN (R)',
       u'VIRGIL H. GOODE, JR. / JAMES CLYMER (I)', u'WRITE-IN'],
      dtype='object')

In [55]:
# rename the columns - possible oppportunity for regex for future data inputs?
df.rename(columns={"county":"CountyName", "BARACK OBAMA / JOE BIDEN (D)":"obama", "GARY JOHNSON / JIM GRAY (I)":"johnson", "JILL STEIN / CHERI HONKALA (I)": "stein", "MITT ROMNEY /PAUL RYAN (R)":"romney"})

,fips,CountyName,obama,johnson,stein,romney,"VIRGIL H. GOODE, JR. / JAMES CLYMER (I)",WRITE-IN
0,1001,Autauga,6363.0,137.0,22.0,17379.0,31.0,41.0
1,1003,Baldwin,18424.0,607.0,169.0,66016.0,122.0,153.0
2,1005,Barbour,5912.0,32.0,6.0,5550.0,9.0,8.0
3,1007,Bibb,2202.0,38.0,9.0,6132.0,13.0,26.0
4,1009,Blount,2970.0,170.0,50.0,20757.0,59.0,54.0
5,1011,Bullock,4061.0,3.0,3.0,1251.0,4.0,NaN
6,1013,Butler,4374.0,20.0,6.0,5087.0,9.0,6.0
7,1015,Calhoun,15511.0,291.0,92.0,30278.0,85.0,107.0
8,1017,Chambers,6871.0,78.0,15.0,7626.0,21.0,18.0
9,1019,Cherokee,2132.0,79.0,26.0,7506.0,36.0,13.0
10,1021,Chilton,3397.0,66.0,38.0,13932.0,29.0,23.0
11,1023,Choctaw,3786.0,19.0,7.0,4152.0,4.0,8.0
12,1025,Clarke,6334.0,22.0,14.0,7470.0,11.0,9.0
13,1027,Clay,1777.0,42.0,16.0,4817.0,10.0,17.0
14,1029,Cleburne,971.0,37.0,11.0,5272.0,14.0,14.0
15,1031,Coffee,4925.0,111.0,33.0,14666.0,35.0,51.0
16,1033,Colbert,9166.0,201.0,36.0,13936.0,46.0,59.0
17,1035,Conecuh,3555.0,15.0,9.0,3439.0,4.0,3.0
18,1037,Coosa,2191.0,19.0,8.0,3049.0,2.0,13.0
19,1039,Covington,3158.0,66.0,20.0,12153.0,26.0,16.0
20,1041,Crenshaw,2050.0,21.0,8.0,4331.0,8.0,6.0
21,1043,Cullman,5052.0,223.0,89.0,28999.0,94.0,98.0
22,1045,Dale,5286.0,101.0,27.0,13108.0,35.0,44.0
23,1047,Dallas,14612.0,34.0,10.0,6288.0,9.0,11.0
24,1049,DeKalb,5239.0,161.0,63.0,18331.0,69.0,87.0
25,1051,Elmore,8954.0,191.0,34.0,26253.0,53.0,61.0
26,1053,Escambia,5489.0,55.0,18.0,9287.0,20.0,25.0
27,1055,Etowah,12803.0,395.0,100.0,29130.0,102.0,94.0
28,1057,Fayette,1817.0,43.0,8.0,6054.0,24.0,12.0
29,1059,Franklin,3171.0,69.0,22.0,7567.0,30.0,22.0
...,...,...,...,...,...,...,...,...
37,1075,Lamar,1646.0,34.0,9.0,5457.0,20.0,10.0
38,1077,Lauderdale,12511.0,293.0,106.0,23911.0,103.0,108.0
39,1079,Lawrence,5069.0,107.0,30.0,8874.0,32.0,36.0
40,1081,Lee,21381.0,604.0,98.0,32194.0,82.0,137.0
41,1083,Limestone,9829.0,218.0,54.0,25295.0,63.0,81.0
42,1085,Lowndes,5747.0,15.0,1.0,1756.0,2.0,2.0
43,1087,Macon,9045.0,14.0,3.0,1331.0,1.0,2.0
44,1089,Madison,62015.0,1531.0,381.0,90884.0,248.0,369.0
45,1091,Marengo,6167.0,15.0,9.0,5336.0,10.0,6.0
46,1093,Marion,2249.0,97.0,28.0,9697.0,34.0,24.0
47,1095,Marshall,6299.0,228.0,94.0,25867.0,78.0,78.0
48,1097,Mobile,78760.0,822.0,251.0,94893.0,138.0,276.0
49,1099,Monroe,4914.0,28.0,13.0,5741.0,12.0,9.0
50,1101,Montgomery,63085.0,339.0,100.0,38332.0,68.0,143.0
51,1103,Morgan,13439.0,321.0,88.0,35391.0,84.0,136.0
52,1105,Perry,4568.0,15.0,8.0,1506.0,2.0,2.0
53,1107,Pickens,4455.0,16.0,5.0,5124.0,11.0,10.0
54,1109,Pike,6035.0,76.0,18.0,7963.0,15.0,16.0
55,1111,Randolph,3078.0,55.0,22.0,7224.0,19.0,23.0
56,1113,Russell,10500.0,62.0,17.0,8278.0,22.0,31.0
57,1115,St. Clair,5801.0,201.0,56.0,29031.0,59.0,87.0
58,1117,Shelby,20051.0,725.0,171.0,71436.0,124.0,235.0
59,1119,Sumter,5421.0,18.0,2.0,1586.0,0.0,3.0
60,1121,Talladega,13905.0,127.0,44.0,19246.0,51.0,43.0
61,1123,Tallapoosa,6319.0,69.0,25.0,12396.0,20.0,22.0
62,1125,Tuscaloosa,32048.0,553.0,130.0,45748.0,111.0,182.0
63,1127,Walker,6557.0,165.0,69.0,21651.0,79.0,64.0
64,1129,Washington,2976.0,22.0,9.0,5761.0,10.0,9.0
65,1131,Wilcox,4868.0,2.0,1.0,1679.0,1.0,4.0
66,1133,Winston,1286.0,57.0,25.0,8312.0,34.0,14.0

In [65]:
# fill all null w/ 0
df.fillna(0, inplace=True)

# double check there are no nulls
df[df.isnull().any(axis=1)]

In [67]:
# add statename - possible to script it to pull from file name
df["StateName"] = "Alabama"

In [68]:
# match column naming structure of output - may move to last step
df.rename(columns={"fips": "County", "county":"CountyName", "county":"CountyName", "BARACK OBAMA / JOE BIDEN (D)":"obama", "GARY JOHNSON / JIM GRAY (I)":"johnson", "JILL STEIN / CHERI HONKALA (I)": "stein", "MITT ROMNEY /PAUL RYAN (R)":"romney"}, inplace=True)

In [69]:
# total the other party votes
df['other'] = df['VIRGIL H. GOODE, JR. / JAMES CLYMER (I)'] + df['WRITE-IN']

In [70]:
# remove unwanted columns
df.drop('VIRGIL H. GOODE, JR. / JAMES CLYMER (I)', axis=1, inplace=True)
df.drop('WRITE-IN', axis=1, inplace=True)

In [71]:
from __future__ import division

In [72]:
# calc total votes
df["totalvotes"] = df["obama"] + df["stein"] + df["johnson"] + df["romney"] + df["other"]

In [73]:
# calculate other dimensions
df["dPct"] = df["obama"]/df["totalvotes"]
df["rPct"] = df["romney"]/df["totalvotes"]
df["otherPct"] = df["other"]/df["totalvotes"]
df["dDRPct"] = df["obama"]/(df["obama"]+df["romney"])
df["rDRPct"] = df["romney"]/(df["obama"]+df["romney"])
df["leanD"] = df["obama"]/df["romney"]
df["leanR"] = df["romney"]/df["obama"]
df["StateAbbr"] = "AL"

In [74]:
df.head()

,County,CountyName,obama,johnson,stein,romney,StateName,other,totalvotes,dPct,rPct,otherPct,dDRPct,rDRPct,leanD,leanR,StateAbbr
0,1001,Autauga,6363.0,137.0,22.0,17379.0,Alabama,72.0,23973.0,0.265424,0.724941,0.003003,0.268006,0.731994,0.366132,2.731259,AL
1,1003,Baldwin,18424.0,607.0,169.0,66016.0,Alabama,275.0,85491.0,0.215508,0.772198,0.003217,0.218190,0.781810,0.279084,3.583152,AL
2,1005,Barbour,5912.0,32.0,6.0,5550.0,Alabama,17.0,11517.0,0.513328,0.481896,0.001476,0.515791,0.484209,1.065225,0.938769,AL
3,1007,Bibb,2202.0,38.0,9.0,6132.0,Alabama,39.0,8420.0,0.261520,0.728266,0.004632,0.264219,0.735781,0.359100,2.784741,AL
4,1009,Blount,2970.0,170.0,50.0,20757.0,Alabama,113.0,24060.0,0.123441,0.862718,0.004697,0.125174,0.874826,0.143084,6.988889,AL

In [75]:
#one more null check to be safe
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [County, CountyName, obama, johnson, stein, romney, StateName, other, totalvotes, dPct, rPct, otherPct, dDRPct, rDRPct, leanD, leanR, StateAbbr]
Index: []

In [76]:
# set vote counts to ints, no precision
df[['obama','johnson','stein','romney','other','totalvotes']] = df[['obama','johnson','stein','romney','other','totalvotes']].astype(int)

In [81]:
# save to csv w/ no index column
df.to_csv("AL_2012.csv", index=False)